.user_name {
  align-items: center;
  justify-content: center;
  display: flex;
}

.user_name h5 {
  border: 1px solid rgb(204, 199, 199);
  padding: 10px;
  text-align: center;
  width: 50%;
}

/* .btn {
  background-color: #bbf5c8;
  color: black;
  font-size: 15px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  background-color: black;
  color: white;
} */

.card-img-top {
  width: 238px;
  height: 200px;
  object-fit: contain;
}
.card-text {
  width: 238px;
  height: 100px;
}
svg {
  height: 28px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* nav a.active {
  background-color: #424242;
  padding: 5px;
  border-radius: 15px;
} */

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

.cardHome {
  width: 500px;
  border: none;
  border-radius: 20px;
}
.form-control {
  border-radius: 7px;
  border: 1.5px solid #e3e6ed;
}
input.form-control:focus {
  box-shadow: none;
  border: 1.5px solid #e3e6ed;
  background-color: #f7f8fd;
  letter-spacing: 1px;
}
.btn-primary {
  background-color: #5878ff !important;
  border-radius: 7px;
}
.btn-primary:focus {
  box-shadow: none;
}
.text {
  font-size: 13px;
  color: #9ca1a4;
}
.price {
  background: #f5f8fd;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 97px;
}
.flex-row {
  border: 1px solid #f2f2f4;
  border-radius: 10px;
  margin: 0 1px 0;
}
.flex-column p {
  font-size: 14px;
}
span.mb-2 {
  font-size: 12px;
  color: #8896bd;
}
h5 span {
  color: #869099;
}
@media screen and (max-width: 450px) {
  .card {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .price {
    border: none;
    margin: 0 auto;
  }
}
