.user_name {
  align-items: center;
  justify-content: center;
  display: flex;
}

.user_name h5 {
  border: 1px solid rgb(204, 199, 199);
  padding: 10px;
  text-align: center;
  width: 50%;
}

/* .btn {
  background-color: #bbf5c8;
  color: black;
  font-size: 15px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  background-color: black;
  color: white;
} */

.card-img-top {
  width: 238px;
  height: 200px;
  object-fit: contain;
}
.card-text {
  width: 238px;
  height: 100px;
}
svg {
  height: 28px;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #424242;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
